<div class="content">
  <div class="title col-12">
    <h1>Juego de la Vieja</h1>
  </div>
  <br />
  <br />
  <div class="board" *ngIf="!winner">
    <div
      *ngFor="let cell of board; let i = index"
      class="cell"
      (click)="makeMove(i)"
    >
      {{ cell }}
    </div>
  </div>
  <div class="board" *ngIf="winner">
    <div
      *ngFor="let cellwinner of newBoard; let i = index"
      class="cell"
      [ngClass]="{ green: cellwinner.isWinningCell }"
    >
      {{ cellwinner.value }}
    </div>
  </div>
  <div class="gameWon">
    <div class="winner" *ngIf="winner">
      <br />
      <h2>🎉 El ganador es: {{ winner }} 🎉</h2>
    </div>
    <br />
    <button *ngIf="winner" class="btn btn-primary" (click)="reset()">
      Reiniciar
    </button>
  </div>
</div>

<router-outlet />
